:root {
  --color-white: #fff;
  --color-edit: #19c37d;
  --color-primary: #007cff;
  --color-secondary: rgba(0, 124, 255, 0.8);
  --color-error: #ef4146;
  --gradient-primary: linear-gradient(90deg, #a29bd4, #989fdd);
  --text-primary: #202123;
  --text-default: #353740;
  --text-secondary: #d2d2d7;
  --text-disabled: #f5f5f7;
  --border-r: 0.4rem;
  --font-size-small: calc(1rem + (0.1 - 1) * ((100vw - 320px) / (1920 - 320)));
  --font-size-medium: calc(1rem + (1.1 - 1) * ((100vw - 320px) / (1920 - 320)));
  --font-size-large: calc(1rem + (1.3 - 1) * ((100vw - 320px) / (1920 - 320)));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;
}

.header-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Стиль для закрепленной шапки */
/* .fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
} */

input,
select,
datalist,
option,
label {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-small);
}
#input-code {
  position: absolute;
  bottom: 2.7rem;
  left: 85%;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-small);
  margin-right: 2rem;
  align-items: start;
  border: none;
  color: var(--text-secondary);
  font-style: italic;
}
input:focus,
select:focus,
datalist:focus,
option:focus {
  outline: none;
  border: 0.1rem var(--color-primary) solid;
}

th input[type="text"],
th input[type="number"],
th input[type="date"],
th select {
  width: 100%;
  padding: 0.5rem;
  border: 0.1rem solid var(--text-secondary);

  font-size: var(--font-size-small);
  font-family: "Roboto", sans-serif;
}

#status {
  border: 0.1rem solid var(--text-disabled);
}

#add-btn,
#add-product-btn,
#save-change-btn,
#save-request-btn,
#download-button,
#view-requests,
#download-products-button,
#logged-in-content button {
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  outline: none;
  padding: 0.3rem;
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
#save-change-btn,
#save-request-btn {
  margin: 0 auto;
}

#add-btn:hover,
#add-product-btn:hover,
#save-change-btn:hover,
#save-request-btn:hover,
#download-button:hover,
#view-requests:hover,
#download-products-button:hover,
#logged-in-content button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

#add-product-btn:disabled {
  background: var(--text-default);
}
#download-products-button {
  margin-left: auto;
  background: transparent;
  color: var(--text-secondary);
  border: none;
  outline: none;
  padding: 0rem;
  cursor: pointer;

  font-size: var(--font-size-small);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
#download-products-button:hover {
  align-items: center;
  background: transparent;
  color: var(--color-primary);
  border: none;
  outline: none;
  padding: 0rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn-edit,
.edit-request-button,
.btn-remove,
.btn-delete {
  border: 0.1rem solid var(--text-secondary);
  background-color: transparent;
  color: var(--text-primary);
  padding: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-edit:hover,
.edit-request-button:hover {
  color: var(--color-primary);
  border: 0.1rem solid var(--color-primary);

  transition: all 0.3s;
}

.btn-delete:hover,
.btn-remove:hover,
.delete-btn:hover {
  color: var(--color-error);
  border: 0.1rem solid var(--color-error);

  transition: all 0.3s;
}
#download-products-button {
  margin-left: 1rem;
}
#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--text-primary);
}

.modal-content {
  padding: 1.2rem;
  margin: 0.5rem;
  height: 98vh;
  display: flex;
  flex-direction: column;
  background-color: var(--text-disabled);
  overflow: hidden;
}

#form,
#request-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

#request-form {
  margin-bottom: 1.2rem;
}

.field-container {
  position: relative;
}

.text-field-input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  border: 0.1rem solid var(--text-secondary);
}
.modal-header h3,
#request-number {
  color: var(--text-default);
  font-weight: bold;
}
.text-field-label {
  position: absolute;
  left: 0;
  top: -1.2rem;
  font-size: var(--font-size-small);
  font-style: italic;
  color: var(--text-default);
}

#request-form .text-field-input::placeholder,
#form .text-field-input::placeholder {
  font-style: italic;
  color: var(--text-secondary);
}

#request-form .field-container:nth-child(1) {
  flex-basis: 12%;
}

#request-form .field-container:nth-child(2) {
  flex-basis: 35%;
}

#request-form .field-container:nth-child(3) {
  flex-basis: 15%;
}

#request-form .field-container:nth-child(4) {
  flex-basis: 7%;
}

#request-form .field-container:nth-child(5) {
  flex-basis: 20%;
}

#request-form .field-container:nth-child(6) {
  flex-basis: 5%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.modal-header h3 {
  color: var(--text-primary);
  width: 10%;
  margin-bottom: 0.6rem;
}

.modal-header form {
  align-self: flex-end;
}

.modal-main {
  height: 80vh;
  overflow-y: scroll;
  background-color: var(--color-white);
}

.modal-footer {
  display: flex;
  align-self: center;
  width: 100%;
  margin-top: 1%;
}

.close {
  align-self: flex-start;
  color: var(--text-default);
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover,
.close-btn-login:hover {
  color: var(--color-error);
  outline: none;
  transition: all 0.3s;
}

.table-container {
  padding: 1rem;
}

.table-request {
  box-shadow: 0.2rem 0.2rem 1rem 0 rgba(142, 160, 192, 0.368);
}
#requests-table-container {
  margin-bottom: 3rem;
}
#products-table {
  position: relative;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border-bottom: 0.1rem solid var(--text-disabled);
}

td {
  text-align: left;
  padding: 0.3rem;
  color: var(--text-primary);
  border-bottom: 0.1rem solid var(--text-disabled);
  font-size: var(--font-size-small);
  transition: all 0.3s;
}

th {
  position: relative;
  text-align: start;
  padding: 0.5rem 0.5rem;
  color: var(--text-default);
  border-bottom: 0.1rem solid var(--text-secondary);
  vertical-align: middle;
  font-size: var(--font-size-small);
  background-color: var(--color-white);
}

th:first-child {
  border-top-left-radius: var(--border-r);
}

th:last-child {
  border-top-right-radius: var(--border-r);
}
td.product-details-cell {
  color: var(--text-secondary);
  font-size: small;
}

tr:hover:not(.head-string) td {
  background-color: var(--text-disabled);
  color: var(--color-primary);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
tr:hover .fa-lock {
  color: var(--color-error);
}

.toggle-filter-button {
  position: absolute;
}

tbody {
  max-height: 30rem;
  overflow-y: auto;
}

.hidden {
  display: none;
}

#autocompleteList {
  position: absolute;
  left: 100%;
  z-index: 3;
  background-color: var(--color-white);
  min-width: 40rem;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(136, 148, 171, 0.368),
    0 2.4rem 2rem -2.4rem rgb(71 82 107 / 10%);
  border-top-right-radius: var(--border-r);
  border-bottom-left-radius: var(--border-r);
  border-bottom-right-radius: var(--border-r);
}

#equipment-list {
  position: absolute;
  z-index: 3;
  background-color: var(--color-white);
  min-width: 40rem;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(136, 148, 171, 0.368),
    0 2.4rem 2rem -2.4rem rgb(71 82 107 / 10%);
  border-top-right-radius: var(--border-r);
  border-bottom-left-radius: var(--border-r);
  border-bottom-right-radius: var(--border-r);
}

.autocomplete-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  word-wrap: wrap;
  cursor: pointer;
  font-size: var(--font-size-medium);
  border-bottom: 0.1rem solid var(--text-disabled);
  transition: all 0.3s;
}

.autocomplete-item:hover {
  color: var(--color-primary);
  background-color: #f6f6f6;
  transition: all 0.3s;
}

.filter-dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.filter-dropdown.active {
  max-height: 10rem;
  transition: max-height 0.2s ease-in;
}

.toggle-filter-button {
  color: var(--text-secondary);
  width: 1rem;
  transition: all 0.3s;
}

.toggle-filter-button:hover {
  color: var(--text-default);
  width: 1.1rem;
  transition: all 0.3s;
}

.toggle-filter-button.active {
  color: var(--color-primary);
}

.success-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-edit);
  color: white;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  z-index: 9999;
  display: none;
  transition: all 0.3s;
}

.success-message.visible {
  display: block;
  transition: all 0.3s easy;
}

mark {
  background-color: rgb(208, 239, 248);
}

table td.tooltip {
  max-width: 1rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.tooltip::after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 100;
  padding: 1rem;
  background: var(--text-primary);
  color: var(--color-white);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

#edit-list {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  z-index: 100;
  right: 3%;
  margin-top: 0.5rem;
}

#edit-list input[type="checkbox"] {
  visibility: hidden;
}

#edit-list label {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

#edit-list label:hover {
  background-color: #ddd;
}

#edit-list input[type="checkbox"]:checked + label {
  background-color: #26a69a;
  border-color: #26a69a;
}

#edit-list label:after {
  content: "";
  position: absolute;
  display: none;
}

#edit-list input[type="checkbox"]:checked + label:after {
  display: block;
}

#edit-list label:after {
  left: 0.7rem;
  top: 0.3rem;
  width: 0.6rem;
  height: 1.2rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}
.fa-lock {
  color: var(--text-secondary); /* Цвет иконки замка */
  margin-left: 1rem; /* Отступ слева от номера заявки */
  font-size: 12px;
}
/* Стили для формы регистрации */
#registration-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  padding: 2rem;
  background-color: var(--color-white);
  box-shadow: 0 0 16rem 160rem rgba(136, 148, 171, 0.568),
    0 2.4rem 2rem -2.4rem rgb(71 82 107 / 10%);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

/* Стили для регистрационных полей и кнопки */
#registration-form label {
  font-size: var(--font-size-small);
  font-style: italic;
  color: var(--text-default);
  margin-bottom: 0.5rem;
}

#registration-form input[type="text"],
#registration-form input[type="email"],
#registration-form input[type="password"],
#registration-form select {
  padding: 0.7rem;
  border: 0.1rem solid var(--text-secondary);
  font-size: var(--font-size-small);
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}

#registration-form select {
  cursor: pointer;
}

#registration-form button[type="submit"] {
  margin-top: 1rem;
  align-self: flex-end;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

#registration-form button[type="submit"]:hover {
  background-color: var(--color-secondary);
}
/* Стиль для выделения обновленной строки с анимацией */
@keyframes highlight {
  0% {
    box-shadow: 0 0 0 5px var(--color-edit);
  }
  100% {
    box-shadow: 0 0 0 5px initial;
  }
}

.updated-row {
  animation: highlight 4s;
}
/* Стили для таблицы заявок */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Стили для кнопок пагинации */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: transparent; /* Без фона */
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: 0 4px;
  transition: 0.4s;
}

.page-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: 0.4s;
}

/* Стили для иконок Font Awesome */
.page-button i {
  font-size: 1.2rem;
  transition: 0.4s;
}

/* Стили для информации о текущей странице и общем количестве страниц */
.page-info {
  margin-top: 10px;
  text-align: center;
}

#pagination-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  opacity: 0.9;
}

#pagination-controls button,
#pagination-controls select {
  margin: 5px;
  padding: 5px 20px;
  font-size: var(--font-size-medium);
  border: none;
  background-color: transparent; /* Без фона */
  color: var(--text-primary);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#pagination-controls button:hover,
#pagination-controls select:hover {
  color: var(--color-primary);
}

#pagination-controls button:disabled {
  background-color: var(--text-disabled);
  cursor: default;
}

#pagination-controls select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("arrow-down.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px;
}

#pagination-controls select:focus {
  outline: none;
  box-shadow: 0 0 3px var(--color-secondary);
}
/* Стили для информации о текущей странице и общем количестве страниц */
#login-form {
  background: var(--color-white);
  box-shadow: 0 0 16rem 160rem rgba(136, 148, 171, 0.568),
    0 2.4rem 2rem -2.4rem rgb(71 82 107 / 10%);
  padding: 30px;
  width: 350px;
  text-align: center;
  position: absolute;
  left: 40%;
  top: 30%;
  z-index: 100;
}

#login-form h2 {
  margin: 0 0 20px;
  color: var(--text-default);
}

#login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--text-secondary);
  color: var(--text-default);
}

#login-form button {
  padding: 10px 20px;
  background: var(--color-primary);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  transition: background 0.3s ease;
}

#login-form button:hover {
  background: var(--color-secondary);
}
.close-btn-login {
  position: absolute;
  right: 20px;
  top: 5px;
  color: var(--text-secondary);
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
#login-form h2 {
  margin-top: 20px;
}
#logged-in-content button {
  margin-right: 0.5rem;
  align-items: center;
}
#logged-in-content {
  align-items: center;
  flex: 1; /* Take up available space */
  display: flex;
}
.filter-content {
  margin-right: auto;
}
#logged-in-content h2 {
  align-items: center;
  font-size: 1rem;
  color: var(--text-default);
  margin: 0 10px 0px 0;
}
/* Стили для кнопки "переноса вверх страницы" */
#scroll-to-top {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, opacity 0.3s, transform 0.3s;
  opacity: 0;
}

#scroll-to-top i {
  font-size: 24px;
}

#scroll-to-top:hover {
  background-color: var(--color-primary);
}

#scroll-to-top.show {
  opacity: 1;
}
td.copied {
  position: relative;
}

td.copied::after {
  content: "Скопировано!";
  font-size: 13px;
  position: absolute;
  left: 100%;
  transform: translateY(-50%);
  background-color: #19c37d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

td.copied.active-copy::after {
  opacity: 1; /* Добавляем этот стиль, чтобы управлять видимостью текста "Скопировано!" */
}

/* Стиль для галочки */
.fa-check {
  /* Добавьте ваш стиль здесь */
  color: #19c37d; /* Измените цвет галочки */
  font-size: 12px; /* Измените размер галочки */
  /* Другие стили по вашему желанию */
}
.nameFirst-cell {
  display: none;
}

